*{
    margin:0;
    padding:0;
    box-sizing: border-box;

}
.parent{
    background-color: orange;
    display:flex;
    padding:16px;
}
.child{
    background-color: yellow;
    color:black;
    width: 200px;
    height: 200px;
    margin: 5px; 
    border-color: black; 
    border-width: 2px; 
    border-style: solid;
}
.main-header{
    border-bottom-style: solid;
    border-left-width:2px ;
    border-bottom-color: gray;
    display: flex;
    padding: 16px ;
}
.brand{
    /*background-color: green; */
}

.menu{
   /* background-color:red;*/
    margin :16px;
    display: flex;
    list-style:none;
}
.menu > li{
    margin-left:16px ;
}
.menu >li >a {
    text-decoration: none;
}

